.main-page {
  background-color: $color-light;
  margin: ($base-size * 5) auto;
  padding: ($base-size * 5);
  border-radius: 5px;

  &__link {
    color: $color-main;
  }

  &__section {
    margin-bottom: ($base-size * 5);
  }
}


.box-wrapper {
  @include flex(row, flex-start , space-between);
}

.box {
  position: relative;
  display: block;
  text-decoration: none;
  color: $color-light;
  flex-basis: 50%;
  height: 120px;
  border-radius: 5px;
  overflow: hidden;

  &--order {
    background-image: url('../../images/main-page/pizza-1.jpg');
    background-size: cover;
    background-position: center;
    margin-right: 3px;
  }

  &--booking {
    background-image: url('../../images//main-page/pizza-2.jpg');
    background-size: cover;
    background-position: center;
    margin-left: 3px;
  }

  &__title {
    margin: 0;
    text-transform: uppercase;
    font-family: $font-header;
    font-size: 20px;
    @include center();
    transition: .5s;
  }

  &__descr {
    display: block;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 90%;
    left: 50%;
    transform: translate(-50%, 0);
    transition: .5s;
  }

  &:hover &__title {
    transform: translate(-50%, -40px);
  }

  &:hover &__descr {
    transform: translate(-50%, -50px);
  }
}

.big-box {
  position: relative;
  border-radius: 5px;
  margin: 6px auto;
  width: 100%;
  height: 120px;
  color: $color-light;
  background-color: $color-main;

  &__content {
    @include center();
  }

  &__title {
    margin: 5px 0;
    font-family: $font-header;
    font-size: 26px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
  }

  &__descr {
    margin: 0;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
  }
}

.recomendations {
  @include flex(row, flex-start , space-between);
  width: 100%;
  flex-wrap: wrap;

  &__photo-wrapper {
    flex-basis: 30%;
    min-width: 30%;
    height: 200px;
  }

  &__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__carousel {
    position: relative;
    flex-basis: 60%;
    height: 200px;
  }
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width : 100%;
  height: 100%;
  padding: 10px;
  opacity: 0;
  transition-delay: .5s;
  transition: .5s;

  &.active {
    animation: slideEffect linear 3s;
  }
}

.carousel-panel {
  width: 100%;

  ul {
    list-style: none;
    padding: 0;
    margin: 20px 0 0 0;
    text-align: center;
  }

  li {
    display: inline-block;
    margin: 0 5px;
  }

  &__btn {
    display: block;
    background-color: $color-gray;
    border: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;

    &:focus {
      outline: 1px solid transparent;
    }

    &.active {
      background-color: $color-dark;
    }
  }
}



